In [1]:
show databases;

database_name
default
har_land
har_stg

In [2]:
show tables in har_land;

tab_name
har_landing

In [3]:
select * from har_land.har_landing limit 5;

timestamp_col,back_x,back_y,back_z,thigh_x,thigh_y,thigh_z,label
2021-03-24 14:43:32.599,-1.041504,-0.083496,-0.181396,-0.986816,-0.218506,0.000000,1
2021-03-24 14:43:32.619,-1.012207,-0.071289,-0.186279,-0.968750,-0.192139,0.000000,1
2021-03-24 14:43:32.639,-0.989502,-0.045166,-0.193115,-0.984131,-0.144043,0.000977,1
2021-03-24 14:43:32.659,-0.977051,-0.007568,-0.225342,-0.968750,-0.094727,-0.029785,1
2021-03-24 14:43:32.680,-0.950439,0.001953,-0.238525,-0.984375,-0.077637,-0.078369,1

In [4]:
show partitions har_land.har_landing;

partition
label=1
label=3
label=4
label=5
label=6
label=7
label=8

In [5]:
select count(*) from har_land.har_landing;

_c0
2259597

In [6]:
select count(*) from har_stg.har_staging;

_c0
2259597